html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}
html {
    box-sizing: border-box;
}
* {
    position: absolute;
}
*:before, *:after {
    content: "";
    position: absolute;
}
body {
    background: #b5e8fb;
}
.polaroid {
    width: 420px;
    height: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.polaroid-body {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 10px 10px #9de0fa;
}
.button {
    width: 10%;
    height: 5%;
    top: -2%;
    left: 14%;
    background-color: #cb214a;
    border-radius: 16px;
    animation: button 5s linear infinite;
}
.flash {
    width: 24%;
    height: 15%;
    top: -12%;
    left: 38%;
    background-color: #34495e;
    border-radius: 8px;
}
.flash:after {
    width: 36%;
    height: 60%;
    background-color: #7796b4;
    border-radius: 5px;
    top: 10%;
    left: 32%;
}
.blinker {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #212f3d;
    top: 15%;
    left: 15%;
    animation: blinker 5s linear infinite;
}
.zoom {
    width: 50%;
    height: 75%;
    left: 25%;
    top: 12.5%;
    background: #212f3d;
    border-radius: 50%;
    border: 5px solid #34495e;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: zoom 5s linear infinite;
}
.zoom:before {
    width: 70%;
    height: 70%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    background: #2c3e50;
    border: 10px solid #34495e;
}
.zoom:after {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border-radius: 50%;
    background: #212f3d;
}
.reflections {
    background-color: #fff;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: -35%;
    left: -35%;
    z-index: 99;
    transform: rotate(-45deg);
}
.reflections:after {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 105%;
    left: 50%;
    opacity: 0.5;
}
.stripes {
    height: 7px;
    width: 50%;
    right: 0;
    top: 40%;
    box-shadow: 0 7px #d60079, 0 14px #e68d15, 0 21px #fec803, 0 28px #dde56b, 0 35px #3ea230, 0 42px #0188c2;
}
.flashlight {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    transition: all ease 0.2s;
    opacity: 0;
    animation: flashlight 5s linear infinite;
}
@keyframes button {
    5% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(10px);
    }
    15% {
        transform: translateY(0);
    }
}
@keyframes zoom {
    20% {
        transform: rotate(0deg);
    }
    26% {
        transform: rotate(20deg);
    }
    32% {
        transform: rotate(0deg);
    }
}
@keyframes blinker {
    33%, 37%, 39%, 43%, 45%, 50% {
        background-color: #212f3d;
    }
    34%, 36%, 40%, 42%, 46%, 48% {
        background-color: brown;
    }
}
@keyframes flashlight {
    55%, 65% {
        opacity: 0;
    }
    56% {
        opacity: 1;
    }
}
